<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'blog/404.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style type="text/css">
  #main {
  text-align: center;
}

#back {
  text-align: center;
}
</style>
<head>
	<title>Trang không tìm thấy</title>

</head>


<body>

    

<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
    <div class="inline-block align-middle">
      <h2 class="font-weight-normal lead" id="desc">Không tìm thấy trang.</h2>
    </div>
</div>
<!-- //////////////// CREDIT //////////////// -->
<a class="btn btn-outline-secondary" href="http://127.0.0.1:8000/" role="button" id="back" style="position: absolute;text-align: center;">
    Trở lại trang chủ
</a>
</body>
</html>